<div id="mySidenav"
  class="sidenav">
  <div class="logo flex-center">
    <div class="logo-container flex-center">
      <img height="45px"
        src="assets/logo.png"
        class="logo-img">
    </div>
    <div class="logo-text">Jorge Matosa</div>
  </div>
  <a routerLink="/tasks-calendar" routerLinkActive="active">
    <div class="icon flex-center">
      <i class="fa fa-calendar"></i>
    </div>
    <div class="title">Tasks Calendar</div>
  </a>
  <a routerLink="/tasks" routerLinkActive="active">
    <div class="icon flex-center">
      <i class="fa fa-tasks"></i>
    </div>
    <div class="title">Tasks</div>
  </a>
  <a routerLink="/effort-analysis" routerLinkActive="active">
    <div class="icon flex-center">
      <i class="fa fa-pie-chart"></i>
    </div>
    <div class="title">Effort analysis</div>
  </a>
  <a routerLink="/expenses" routerLinkActive="active">
    <div class="icon flex-center">
      <i class="fa fa-money"></i>
    </div>
    <div class="title">Expenses</div>
  </a>
</div>
