<div id="mySidenav"
  class="sidenav">
  <div class="logo flex-center">
    <div class="logo-container flex-center">
      <img height="45px"
        src="assets/logo.png"
        class="logo-img">
    </div>
    <div class="logo-text">Jorge Matosa</div>
  </div>
  <a href="#">
    <div class="icon flex-center">
      <i class="fa fa-home"></i>
    </div>
    <div class="title">Home</div>
  </a>
  <a href="#">
    <div class="icon flex-center">
      <i class="fa fa-home"></i>
    </div>
    <div class="title">Home</div>
  </a>
  <a href="#">
    <div class="icon flex-center">
      <i class="fa fa-home"></i>
    </div>
    <div class="title">Home</div>
  </a>
  <a href="#">
    <div class="icon flex-center">
      <i class="fa fa-home"></i>
    </div>
    <div class="title">Home</div>
  </a>
</div>
